---
Language: Cpp
BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 4

ColumnLimit: 180

BreakBeforeBraces: Attach

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false

PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4

AllowAllParametersOfDeclarationOnNextLine: false
BinPackParameters: false
AlignAfterOpenBracket: Align

AllowAllArgumentsOnNextLine: false
BinPackArguments: false

AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: false
InsertBraces: true

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakStringLiterals: false

SortIncludes: CaseSensitive
IncludeBlocks: Preserve

FixNamespaceComments: true
NamespaceIndentation: None
CompactNamespaces: false

AccessModifierOffset: -4
IndentAccessModifiers: false

IndentCaseLabels: true
IndentCaseBlocks: false

AlwaysBreakTemplateDeclarations: Yes

AlwaysBreakAfterReturnType: None

ReflowComments: false

MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: false
EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never

PenaltyBreakAssignment: 10
PenaltyBreakBeforeFirstCallParameter: 30
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 200

Cpp11BracedListStyle: true
Standard: c++17
SortUsingDeclarations: true
