[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/Ipopt.cmake"]
	path = third-party/Ipopt.cmake
	url = https://github.com/linuslangenkamp/Ipopt.cmake
