[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/Ipopt.cmake"]
	path = third-party/Ipopt.cmake
	url = https://github.com/linuslangenkamp/Ipopt.cmake
[submodule "third-party/fmi4c"]
	path = third-party/fmi4c
	url = git@github.com:robbr48/fmi4c.git
[submodule "third-party/Uno"]
	path = third-party/Uno
	url = https://github.com/cvanaret/Uno.git
[submodule "third-party/pybind11"]
	path = third-party/pybind11
	url = https://github.com/pybind/pybind11.git
