
# editor
.vscode/

# temps
*.log
*.tmp
*.swp
*.bak

# build
**/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# c
*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

# ignore garbage

src/modelica/example/include_test_0*.*
src/modelica/example/include_test_1*.*
src/modelica/example/include_test_*.bin